{% extends 'base.html' %}

{% block additional_scripts_head %}
    <script src="{{ url_for('static', filename="/js/set_checked.js") }}"></script>
{% endblock %}

{% block main %}

    {% if is_admin %}
    {% include 'inc/_sidebar.html' %}
    {% endif %}

    <div class="d-flex flex-fill p-2 gap-2">
        <div class="d-flex flex-fill flex-column">
            <div class="d-flex flex-column flex-fill gap-2" style="max-height: 100vh;">

                {% include 'inc/_monitoring_panel.html' %}

                <div class="border-2 d-flex flex-column gap-2 border rounded-2" style="height:95%;">
                    <iframe
                            class="d-flex align-content-center justify-content-center"
                        src="http://192.168.1.54:6100/camera/0"
                        width="100%"
                        height="100%"
                        loading="lazy"
                    >
                    </iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_scripts_end %}
    <script src="{{ url_for('static', filename="/js/set_checked.js") }}"></script>
{% endblock %}