<html data-bs-theme="light" lang="en" data-bss-forced-theme="light" style="--scrollbar-width: 3.5px;">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>vacs-sudp-design</title>
</head>

<body class="d-flex flex-column" style="width: 100vw;height: 100vh;">
    <div class="d-flex flex-column flex-fill ps-2 pe-2 pb-2 gap-2" style="max-height: 100vh;">
        <div class="border-2 d-flex justify-content-between align-items-center p-4 border" style="height: 5%;border-bottom-left-radius: .5em;border-bottom-right-radius: .5em;">
            <div><img class="img-fluid" src="logo.svg" style="width: 2em;" /></div>
            <div class="d-flex p-0 m-0">
                <div class="d-flex flex-fill justify-content-center align-items-center"><input id="type-0" class="btn-check" type="radio" checked name="type" value="422a32fa-1cd2-4ef9-8b9b-4662f4d709e2" /><label class="flex-fill btn" for="type-0" style="font-size: calc((1vw + 1vh) * 0.5);font-weight: 500;">ПРОПУСК</label></div>
                <div class="d-flex flex-fill justify-content-center align-items-center"><input id="type-1" class="btn-check" type="radio" name="type" value="80d7ae19-00d0-4705-b200-777e9b91f43b" /><label class="flex-fill btn" for="type-1" style="font-size: calc((1vw + 1vh) * 0.5);font-weight: 500;">МОНИТОРИНГ</label></div>
            </div>
            <div class="d-flex align-items-center gap-2"><span style="font-size: calc((1vw + 1vh) * 0.5);font-weight: bold;color: #d4d4d4;">ПРОФИЛЬ:КПП</span><img src="leave_btn.svg" style="width: 2em;" /></div>
        </div>
        <div class="d-flex flex-column gap-2" style="height: 95%;">
            <div class="d-flex" style="height: 5%;"><input class="border-2 search-field focus-ring flex-fill border rounded-3 p-2" type="text" placeholder="ВВЕДИТЕ ПОИСКОВОЕ ЗНАЧЕНИЕ" /></div>
            <div class="d-flex gap-2" style="height: 95%;">
                <div class="col d-flex">
                    <div class="border-2 flex-fill border rounded-3 p-2 overflow-auto" style="height: 100%;max-height: 100%;">
                        <div class="d-flex p-3 border border-0 rounded-3 shadow ps-0">
                            <div class="flex-fill d-flex align-items-center justify-content-center" style="width: 5%;">
                                <p class="m-0 flex-fill" style="transform: rotate(-90deg);font-weight: bold;font-size: calc((1vw + 1vh) * 0.6);">#2000</p>
                            </div>
                            <div class="d-flex flex-fill flex-column gap-2" style="width: 95%;">
                                <div class="d-flex gap-2">
                                    <div class="col d-flex flex-column gap-1">
                                        <div>
                                            <p class="m-0 p-0" style="font-size: calc((1vh + 1vw) * 0.55);font-family: 'Golos Text', sans-serif;color: #d4d4d4;">ФАМИЛИЯ ИМЯ ОТЧЕСТВО</p>
                                        </div>
                                        <ul class="list-group flex-fill d-flex flex-column">
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>ЛОСИНО-ОСТРОВСКИЙ ИВАН ИВАНОВИЧ</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>ЛОСИНО-ОСТРОВСКИЙ ИВАН ИВАНОВИЧ</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>ЛОСИНО-ОСТРОВСКИЙ ИВАН ИВАНОВИЧ</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>ЛОСИНО-ОСТРОВСКИЙ ИВАН ИВАНОВИЧ</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>ЛОСИНО-ОСТРОВСКИЙ ИВАН ИВАНОВИЧ</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>ЛОСИНО-ОСТРОВСКИЙ ИВАН ИВАНОВИЧ</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>ЛОСИНО-ОСТРОВСКИЙ ИВАН ИВАНОВИЧ</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>ЛОСИНО-ОСТРОВСКИЙ ИВАН ИВАНОВИЧ</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>ЛОСИНО-ОСТРОВСКИЙ ИВАН ИВАНОВИЧ</strong></span></li>
                                        </ul>
                                    </div>
                                    <div class="col d-flex flex-column gap-1">
                                        <div>
                                            <p class="m-0 p-0" style="font-size: calc((1vh + 1vw) * 0.55);font-family: 'Golos Text', sans-serif;color: #d4d4d4;">АВТОТРАНСПОРТ</p>
                                        </div>
                                        <ul class="list-group flex-fill d-flex flex-column">
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>А777АА77 КИА РИО</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>А777АА77 КИА РИО</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>А777АА77 КИА РИО</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>А777АА77 КИА РИО</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>А777АА77 КИА РИО</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>А777АА77 КИА РИО</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>А777АА77 КИА РИО</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>А777АА77 КИА РИО</strong></span></li>
                                            <li class="list-group-item flex-fill"><span style="font-size: calc((1vw + 1vh) * 0.65);"><strong>А777АА77 КИА РИО</strong></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="d-flex gap-2">
                                    <div class="col d-flex">
                                        <div class="flex-fill border border-1 rounded-3 d-flex align-items-center ps-1">
                                            <p class="flex-fill m-0">Paragraph</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex flex-fill align-items-center gap-4">
                                            <div class="d-flex flex-column"><span style="font-size: calc((1vh + 1vw) * 0.35);color: #d4d4d4;">Заявитель</span><span style="font-size: calc((1vh + 1vw) * 0.45);font-weight: 600;">Е. А. ЛАТЫШЕВ</span></div>
                                            <div class="d-flex flex-column" style="font-size: calc((1vh + 1vw) * 0.9);"><span style="font-size: calc((1vh + 1vw) * 0.35);color: #d4d4d4;">Тип заявки</span><span style="font-size: calc((1vh + 1vw) * 0.45);font-weight: 600;">ОДНОРАЗОВАЯ</span></div>
                                            <div class="d-flex flex-column" style="font-size: calc((1vh + 1vw) * 0.9);"><span style="font-size: calc((1vh + 1vw) * 0.35);color: #d4d4d4;">Дата создания</span><span style="font-size: calc((1vh + 1vw) * 0.45);font-weight: 600;">01.01.2024 09:00</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex">
                    <div class="border-2 d-flex flex-column flex-fill p-2 gap-4 border rounded-3">
                        <div class="d-flex flex-fill align-items-center" style="height: 5%;">
                            <div class="d-flex flex-fill align-items-center"><img src="spec_transport_icon.svg" /><button class="btn btn-primary border-0" type="button" style="background: rgba(13,110,253,0);color: rgb(0,0,0);font-size: calc((1vh + 1vw) * 0.7);text-align: left;font-weight: 600;">ПРОПУСК СПЕЦТРАНСПОРТА</button></div>
                        </div>
                        <div class="d-flex flex-fill" style="height: 2.5%;"><input class="border-2 search-field focus-ring flex-fill border rounded-3 p-2" type="text" placeholder="ПОИСК ПО СПИСКУ АВТОТРАНСПОРТА НА ТЕРРИТОРИИ" /></div>
                        <div class="d-flex flex-column flex-fill overflow-auto gap-4" style="height: 80%;max-height: 80%;">
                            <div class="d-flex p-3 ps-5 rounded-3" style="box-shadow: inset 1em 0px #DABCF1, 0px 0.3em 0px #DABCF1;">
                                <div class="d-flex flex-fill justify-content-between"><span class="d-flex align-items-center" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.8);">А777АА77 КИА РИО</span>
                                    <form><input class="btn border-2 focus-ring btn-primary" type="submit" style="background: rgba(13,110,253,0);color: rgb(0,0,0);font-weight: bold;border-color: #d4d4d4;" value="ВЫЕЗД" /></form>
                                </div>
                            </div>
                            <div class="d-flex p-3 ps-5 rounded-3" style="box-shadow: inset 1em 0px #DABCF1, 0px 0.3em 0px #DABCF1;">
                                <div class="d-flex flex-fill justify-content-between"><span class="d-flex align-items-center" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.8);">А777АА77 КИА РИО</span>
                                    <form><input class="btn border-2 focus-ring btn-primary" type="submit" style="background: rgba(13,110,253,0);color: rgb(0,0,0);font-weight: bold;border-color: #d4d4d4;" value="ВЫЕЗД" /></form>
                                </div>
                            </div>
                            <div class="d-flex p-3 ps-5 rounded-3" style="box-shadow: inset 1em 0px #DABCF1, 0px 0.3em 0px #DABCF1;">
                                <div class="d-flex flex-fill justify-content-between"><span class="d-flex align-items-center" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.8);">А777АА77 КИА РИО</span>
                                    <form><input class="btn border-2 focus-ring btn-primary" type="submit" style="background: rgba(13,110,253,0);color: rgb(0,0,0);font-weight: bold;border-color: #d4d4d4;" value="ВЫЕЗД" /></form>
                                </div>
                            </div>
                            <div class="d-flex p-3 ps-5 rounded-3" style="box-shadow: inset 1em 0px #F1DFBC, 0px 0.3em 0px #F1DFBC;">
                                <div class="d-flex flex-fill justify-content-between">
                                    <div><span class="d-flex align-items-center" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.8);">А777АА77 КИА РИО</span><span class="d-flex align-items-center" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.55);">СКОРАЯ ПОМОЩЬ</span></div>
                                    <form class="d-flex align-items-center justify-content-center"><input class="btn border-2 focus-ring btn-primary" type="submit" style="background: rgba(13,110,253,0);color: rgb(0,0,0);font-weight: bold;border-color: #d4d4d4;" value="ВЫЕЗД" /></form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="passageModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Title</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>The content of your modal.</p>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
            </div>
        </div>
    </div>
</body>

</html>