{% extends 'base.html' %}


{% block additional_scripts_head %}
	<script src="{{ url_for('static', filename='/lib/markjs/mark.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/collapseArea.js') }}"></script>
    <script>
        function getCookieValue(name)
        {
          const regex = new RegExp(`(^| )${name}=([^;]+)`)
          const match = document.cookie.match(regex)
          if (match) {
            return match[2]
          }
        }
        document.addEventListener("DOMContentLoaded", function () {
            const urlParams = new URL(location).searchParams;
            const sudp_request = urlParams.get('show');
            console.log(sudp_request);
            if (sudp_request) {
                $('#passageModal').modal('show');
                var instance = new Mark(document.querySelector("#passageModal"));

                instance.unmark();
                instance.mark(getCookieValue("search_value"), {
                    "exclude": [
                        ".creator",
                        ".req-comment",
                        ".header"
                    ],
                    "element": "span",
                    "className": "elem-highlight",
                    "separateWordSearch": false
                });
                document.cookie = "search_value=; SameSite=Lax;";
            }
        })
    </script>

{% endblock %}

{% block main %}
    {% if is_admin %}
        {% include 'inc/_sidebar.html' %}
    {% endif %}
    <div class="d-flex flex-column flex-fill ps-2 pe-2 pb-2 gap-2" style="max-height: 100vh;">

    {% include 'inc/_monitoring_panel.html' %}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class=flashes>
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissible align-self-center m-auto fs-3 text-center" role="alert">
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
            </div>
          {% else %}
            <div class="d-flex flex-column gap-2" style="height: 95%;">
        <div class="d-flex" style="height: 5%;">
            <input id="search" class="border-2 search-field focus-ring flex-fill border rounded-3 p-2" type="text" placeholder="ВВЕДИТЕ ПОИСКОВОЕ ЗНАЧЕНИЕ" />
        </div>
        <div class="d-flex gap-2" style="height: 95%;">
            <div class="col d-flex" style="max-width: 100%;">
                <div id="monitoringMain" class="flex-fill d-flex flex-column gap-3 overflow-auto p-2 border border-2 rounded-3" style="max-height: 88vh;">
                    {% for request in requests %}
{#                        <div class="card-monitoring d-flex align-items-center p-2 rounded-3 shadow" data-bs-toggle="modal" data-bs-target="#passageModal">#}
                        <div class="card-monitoring d-flex align-items-center p-2 rounded-3 shadow" onclick="window.location='/monitoring/{{ request['id'] }}?show=true'">
                            <span class="visually-hidden cell-contract">{{ request['contract_name'] }}</span>
                            <span class="visually-hidden cell-organisation">{{ request['organization'] }}</span>
                            <div class="d-flex flex-fill align-items-center justify-content-center" style="width: 3%;">
                                <p class="m-0" style="transform: rotate(-90deg);font-weight: bold;">#{{ request['id'] }}</p>
                            </div>
                            <div class="d-flex flex-fill flex-column gap-2" style="width: 97%;">
                                <div class="d-flex flex-fill gap-2">
                                    <div class="col d-flex">
                                        <div class="d-flex flex-fill flex-column gap-2">
                                            <div>
                                                <p class="m-0 p-0" style="font-size: calc((1vh + 1vw) * 0.55);font-family: 'Golos Text', sans-serif;color: #d4d4d4;">ФАМИЛИЯ ИМЯ ОТЧЕСТВО</p>
                                            </div>
                                            <ul class="list-group d-flex flex-fill">
                                                {% if request['visitors'] %}
                                                     {% for visitor in request['visitors'] %}
                                                        <li class="list-group-item cell-lnp flex-fill">
                                                            <span class="text-uppercase " style="font-weight: bold;">{{ visitor['lastname'] }} {{ visitor['name'] }} {{ visitor['patronymic'] if visitor['patronymic'] else '' }}</span>
                                                        </li>
                                                    {% endfor %}
                                                {% else %}
                                                        <li class="list-group-item flex-fill">
                                                            <span class="text-uppercase" style="font-weight: bold;">НЕТ ПРИКРЕПЛЕННЫХ ПОСЕТИТЕЛЕЙ</span>
                                                        </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col d-flex">
                                        <div class="d-flex flex-fill flex-column gap-2">
                                            <div>
                                                <p class="m-0 p-0" style="font-size: calc((1vh + 1vw) * 0.55);font-family: 'Golos Text', sans-serif;color: #d4d4d4;">АВТОТРАНСПОРТ</p>
                                            </div>
                                            <ul class="list-group cell-cars d-flex flex-fill">
                                                {% if request['cars'] %}
                                                    {% for car in request['cars'] %}
                                                        <li class="list-group-item flex-fill "><span class="text-uppercase " style="font-weight: bold;">{{ car['car_model'] }} {{ car['govern_num'] }}</span></li>
                                                    {% endfor %}
                                                {% else %}
                                                        <li class="list-group-item flex-fill"><span class="text-uppercase" style="font-weight: bold;">НЕТ ПРИКРЕПЛЕННОГО АВТОТРАНСПОРТА</span></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-fill gap-2">
                                    <div class="col d-flex">
                                        <div class="flex-fill d-flex">
                                            <p class="m-0 flex-fill p-0 border border-1 rounded-3 p-2  {{ "border-main-color" if request['approval']['comment'] }}">{{ request['approval']['comment'] if request['approval']['comment'] else 'НЕТ КОММЕНТАРИЯ' }}</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex flex-fill align-items-center gap-4">
                                            <div class="d-flex flex-column"><span class="decor" style="font-size: calc((1vh + 1vw) * 0.35);color: #d4d4d4;">Заявитель</span>
                                                <span class="decor" style="font-size: calc((1vh + 1vw) * 0.5);font-weight: 600;">{{ request['creatorobj']['name'][0] }}. {{ request['creatorobj']['patronymic'][0] if request['creatorobj']['patronymic'] else '' }}. {{ request['creatorobj']['lastname'] }}</span>
                                            </div>
                                            <div class="d-flex flex-column" style="font-size: calc((1vh + 1vw) * 0.9);">
                                                <span class="decor" style="font-size: calc((1vh + 1vw) * 0.35);color: #d4d4d4;">Тип заявки</span><span class="decor" style="font-size: calc((1vh + 1vw) * 0.5);font-weight: 600;">{{ request['type']['name'].upper() }}</span>
                                            </div>
                                            <div class="d-flex flex-column" style="font-size: calc((1vh + 1vw) * 0.9);">
                                                <span class="decor" style="font-size: calc((1vh + 1vw) * 0.35);color: #d4d4d4;">Дата создания</span><span class="decor" style="font-size: calc((1vh + 1vw) * 0.5);font-weight: 600;">{{ request['date_created']|datefilter('%H:%M %d.%m.%Y') }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-4 d-flex flex-column border border-2 rounded-3">
                <div class="d-flex flex-column flex-fill p-2 gap-2">
                    <div class="d-flex flex-column flex-fill gap-2" style="height: 5%;">
                        <div class="d-flex flex-fill">
                            <img src="{{ url_for('static', filename='img/spec_transport_icon.svg') }}" />
                            <button class="btn btn-primary text-start bg-transparent border-0" type="button" style="color: rgb(0,0,0);font-weight: bold;font-size: calc((1vh + 1vw) * 0.7);" data-bs-target="#spectransportModal" data-bs-toggle="modal">ПРОПУСК СПЕЦТРАНСПОРТА</button>
                        </div>
                        <div class="d-flex flex-fill">
                            <input id="search-field-onterritory" class="focus-ring flex-fill border rounded-3 p-2" type="text" placeholder="ВВЕДИТЕ ПОИСКОВОЕ ЗНАЧЕНИЕ" />
                        </div>
                    </div>
                    <div id="on-territory-list" class="d-flex flex-fill flex-column pt-2 overflow-auto gap-3" style="height: 95%;max-height: 75vh;">
                        
                        {% if cars_on_territory %}
                        	{% for car in cars_on_territory %}
                        		{% if car['transport_type']['type'] == 'По заявке' %}
                                    <div class="d-flex justify-content-between card-on-terrtory p-3 rounded-3" style="box-shadow: inset 1em 0px #DABCF1, 0px 0.3em 0px #DABCF1;">
                                        <div class="d-flex align-items-center justify-content-center ps-5">
                                            <span class="text-uppercase card-content-car" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.7);">{{ car['govern_num'].upper() }} {{ car['car_model'].upper() }}</span></div>
                                        <div>
                                            <form method="get" action="/monitoring/car/out/{{ car["id"] }}">
                                                <input class="btn btn-primary bg-transparent border-2 focus-ring" type="submit" value="ВЫЕЗД" style="color: rgb(0,0,0);font-weight: bold;border-color: #d4d4d4;" />
                                            </form>
                                        </div>
                                    </div>
                        		{% else %}
                                    <div class="d-flex justify-content-between card-on-terrtory p-3 rounded-3" style="box-shadow: inset 1em 0px #F1DFBC, 0px 0.3em 0px #F1DFBC;">
                                        <div class="d-flex ps-5 flex-column">
                                            <span class="text-uppercase card-content-car" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.7);">{{ car['govern_num'].upper() }} {{ car['car_model'].upper() }}</span>
                                            <span class="text-uppercase card-content-car" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.5);">{{ car['transport_type']["type"].upper() }}</span>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <form method="get" action="/monitoring/car/out/{{ car["id"] }}">
                                                <input class="btn btn-primary bg-transparent border-2 focus-ring" type="submit" value="ВЫЕЗД" style="color: rgb(0,0,0);font-weight: bold;border-color: #d4d4d4;" />
                                            </form>
                                        </div>
                                    </div>
                        		{% endif %} 
                        	{% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
          {% endif %}
        {% endwith %}
    </div>

    <div id="passageModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">ПРОПУСК ПОСЕТИТЕЛЕЙ И СПЕЦТРАНСПОРТА</h6><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex gap-2">
                        <div class="col d-flex">
                            <div class="d-flex flex-column flex-fill p-2 border border-0 rounded-3 shadow">
                                <p class="m-0 p-0" style="font-size: calc((1vh + 1vw) * 0.55);font-family: 'Golos Text', sans-serif;color: #d4d4d4;">ПОСЕТИТЕЛИ</p>
                                <form class="d-flex flex-column flex-fill justify-content-between gap-2" method="post" action="/monitoring/visitors/passage?request={{ request_id }}">
                                    {{ visitors_form.csrf_token }}
                                    <div class="d-flex flex-column overflow-auto gap-1" style="max-height: 30vh;">
                                        {% for field in visitors_form.visitors_check_group %}

                                            <div class="form-check p-3 d-flex gap-3 align-items-center border border-1 rounded-3 m-0">
                                                {{ field(class="form-check-input m-0 p-0") }}
                                                {{ field.label(class="form-check-label text-uppercase m-0", style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.65);") }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="d-flex">
                                        {{ visitors_form.pass_submit(class="btn btn-primary flex-fill main-color") }}
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <div class="d-flex flex-fill flex-column p-2 border border-0 rounded-3 shadow">
                                <p class="m-0 p-0" style="font-size: calc((1vh + 1vw) * 0.55);font-family: 'Golos Text', sans-serif;color: #d4d4d4;">АВТОТРАНСПОРТ</p>
                                <form class="d-flex flex-column flex-fill justify-content-between gap-2" method="post" action="/monitoring/cars/passage?request={{ request_id }}">
                                    {{ cars_form.csrf_token }}
                                    <div class="d-flex flex-column overflow-auto gap-2" style="max-height: 30vh;">
                                        {% for field in cars_form.cars_check_group %}
                                            <ul class="list-group">
                                                <li class="list-group-item p-2 d-flex">
                                                    <div class="form-check d-flex gap-3 align-items-center p-0 m-0">
                                                        {{ field(class="form-check-input m-0 p-0") }}
                                                        {{ field.label(class="form-check-label text-uppercase m-0", style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.65);") }}
                                                    </div>
                                                </li>
{#                                                <li class="list-group-item"><span>НЕТ ДАННЫХ О ВОДИТЕЛЕ</span></li>#}
                                            </ul>
                                        {% endfor %}
                                    </div>
                                    <div class="d-flex">
                                        {{ cars_form.pass_submit(class="btn btn-primary flex-fill main-color") }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="spectransportModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">ПРОПУСК ПОСЕТИТЕЛЕЙ И СПЕЦТРАНСПОРТА</h6><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/monitoring/spec/passage">
                        {{ spec_form.csrf_token }}
                        <div class="d-flex flex-column gap-4">
                            <div class="flex-fill d-flex gap-2">
                                <div class="col"><span style="font-size: calc((1vh + 1vw) * 0.5);">ГОСУДАРСТВЕННЫЙ НОМЕР</span>
{#                                    {{ spec_form.govern_num_field(class="form-control form-control form-control", pattern="/^(([АВЕКМНОРСТУХавекмнорстух]\d{3}(?<!000)[АВЕКМНОРСТУХавекмнорстух]{1,2})(\d{2,3})|(\d{4}(?<!0000)[АВЕКМНОРСТУХавекмнорстух]{2})(\d{2})|(\d{3}(?<!000)(C?D|[ТНМВКЕ])\d{3}(?<!000))(\d{2}(?<!00))|([ТСК][АВЕКМНОРСТУХавекмнорстух]{2}\d{3}(?<!000))(\d{2})|([АВЕКМНОРСТУХавекмнорстух]{2}\d{3}(?<!000)[АВЕКМНОРСТУХавекмнорстух])(\d{2})|([АВЕКМНОРСТУХавекмнорстух]\d{4}(?<!0000))(\d{2})|(\d{3}(?<!000)[АВЕКМНОРСТУХавекмнорстух])(\d{2})|(\d{4}(?<!0000)[АВЕКМНОРСТУХавекмнорстух])(\d{2})|([АВЕКМНОРСТУХавекмнорстух]{2}\d{4}(?<!0000))(\d{2})|([АВЕКМНОРСТУХавекмнорстух]{2}\d{3}(?<!000))(\d{2,3})|(^Т[АВЕКМНОРСТУХавекмнорстух]{2}\d{3}(?<!000)\d{2,3}))/gm", title="Недопустимый номер автотранспорта. Номер должен содержать буквы: АВЕКМНОРСТУХавекмнорстух и быть следующих форматов: А777АА77, А777АА777, а777аа77 или а777аа777") }}#}
                                    {{ spec_form.govern_num_field(class="form-control form-control form-control", title="Недопустимый номер автотранспорта. Номер должен содержать буквы: АВЕКМНОРСТУХавекмнорстух и быть следующих форматов: А777АА77, А777АА777, а777аа77 или а777аа777") }}
                                </div>
                                <div class="col"><span style="font-size: calc((1vh + 1vw) * 0.5);">МАРКА И МОДЕЛЬ</span>
                                    {{ spec_form.model_field(class="form-control form-control form-control") }}
                                </div>
                            </div>
                            <div class="flex-fill d-flex flex-column">
                                <div>
                                    <div class="form-check">
                                        <input id="formCheck-21" class="form-check-input collapse-checkbox" type="checkbox" onclick="collapseArea()" />
                                        <label class="form-check-label" for="formCheck-21" style="font-size: calc((1vh + 1vw) * 0.5);">Указать тип спецтранспорта</label>
                                    </div>
                                </div>
                                <div>
                                    {{ spec_form.type_field(class="form-select collapse-area visually-hidden") }}
                                </div>
                            </div>
                            <div class="d-flex flex-fill ">
                                {{ spec_form.pass_spec_submit(class="btn btn-primary flex-fill main-color") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_scripts_end %}
	    <script src="{{ url_for('static', filename="/js/searchMonitoring.js") }}"></script>
        <script src="{{ url_for('static', filename="/js/set_checked.js") }}"></script>
{% endblock %}
