{% extends 'base.html' %}

{% block main %}
    <div class="d-flex flex-fill pb-2 pt-2 pe-2 gap-2">

    {% include 'inc/_sidebar.html' %}
    
        <div class="d-flex flex-fill flex-column gap-4">

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class=flashes>
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible align-self-center m-auto fs-3 text-center" role="alert"><span>{{ message }}</span></div>
                {% endfor %}
                </div>
              {% else %}
                  <form class="d-flex flex-column gap-2" style="height: 10%" method="get" action="/passages/search">
                        <div class="d-flex">
                            <div class="d-flex gap-2 m-0 flex-fill">
                                <div class="d-flex flex-fill">
{#                                    <input class="form-control flex-fill border border-2 rounded-3 ps-2" type="text" placeholder="ВВЕДИТЕ ПОИСКОВОЕ ЗНАЧЕНИЕ" style="font-weight: 500;">#}
                                    {{ form.search_field(class="form-control flex-fill border border-2 rounded-3 ps-2", placeholder="ВВЕДИТЕ ПОИСКОВОЕ ЗНАЧЕНИЕ", style="font-weight: 500;") }}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="flex-fill d-flex p-0 m-0 justify-content-between">
                                <div class="d-flex gap-4">
                                    <div class="d-flex gap-2">
                                        <div class="d-flex flex-column"><span style="font-weight: 600;color: #d4d4d4;">С даты</span>
                                            {{ form.filter_fdate(class="form-control border border-2 rounded-2 flex-fill m-0 p-0", style="text-align: center;") }}
{#                                            <input class="form-control border border-2 rounded-2 flex-fill m-0 p-0" type="date" style="text-align: center;">#}
                                        </div>
                                        <div class="d-flex flex-column"><span style="font-weight: 600;color: #d4d4d4;">По даты</span>
                                            {{ form.filter_tdate(class="form-control border border-2 rounded-2 flex-fill m-0 p-0", style="text-align: center;") }}
{#                                            <input class="form-control border border-2 rounded-2 flex-fill m-0 p-0" type="date" style="text-align: center;">#}
                                        </div>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <div class="d-flex flex-column">
                                            <span style="font-weight: 600;color: #d4d4d4;">С часа</span>
                                            {{ form.filter_ftime(class="form-control border border-2 rounded-2 flex-fill m-0 p-0", style="text-align: center;") }}
{#                                            <input class="form-control border border-2 rounded-2 flex-fill m-0 p-0" type="time" style="text-align: center;">#}
                                        </div>
                                        <div class="d-flex flex-column">
                                            <span style="font-weight: 600;color: #d4d4d4;">До часа</span>
                                            {{ form.filter_ttime(class="form-control border border-2 rounded-2 flex-fill m-0 p-0", style="text-align: center;") }}
{#                                            <input class="form-control border border-2 rounded-2 flex-fill m-0 p-0" type="time" style="text-align: center;">#}
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex gap-2">
{#                                    {{ form.apply_button(class="btn btn-primary flex-fill m-0 main-color") }}#}
                                    <input class="btn btn-primary flex-fill m-0 main-color" type="submit" value="ПОИСК ПО УКАЗАННЫМ КРИТЕРИЯМ">
                                    <a class="btn btn-primary flex-fill m-0 bg-danger text-center align-content-center border border-0" href="/passages/">СБРОС</a>
                                </div>
                            </div>
                        </div>
                    </form>
              {% endif %}
            {% endwith %}

            <div class="d-flex gap-2" style="height: 85%;">
                <div class="col shadow-lg rounded-3">
                    <div class="d-flex flex-column"><span style="text-align: center;color: #000000;font-size: calc((1vh + 1vw) * 0.7);font-weight: 600;">ПОСЕТИТЕЛИ</span>
                        <div class="p-2 overflow-auto d-flex flex-column gap-2" style="height: 95%;max-height: 80vh;">

                            {% if v_passages %}
                            	{% for passage in v_passages %}
                                    <div class="rounded-3 d-flex align-items-center gap-1 justify-content-between ps-4 pe-4 pt-2 pb-2" style="background: #e8fff8;">
                                        <div class="d-flex flex-column">
                                            <span class="text-truncate" data-bs-toggle="tooltip" data-bss-tooltip="" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.7);max-width: 15vw;" title="{{ passage['visitor']['lastname'].upper() }}">{{ passage['visitor']['lastname'].upper() }}</span>
                                            <span class="text-truncate" data-bs-toggle="tooltip" data-bss-tooltip="" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.7);max-width: 15vw;" title="{{ passage['visitor']['name'].upper() }}">{{ passage['visitor']['name'].upper() }}</span>
                                            <span class="text-truncate" data-bs-toggle="tooltip" data-bss-tooltip="" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.7);max-width: 15vw;" title="{{ passage['visitor']['patronymic'].upper() if passage['visitor']['patronymic'] }}">{{ passage['visitor']['patronymic'].upper() if passage['visitor']['patronymic'] }}</span>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <span style="font-size: calc((1vh + 1vw) * 0.5);">ДАТА:</span>
                                            <span style="font-size: calc((1vh + 1vw) * 0.7);font-weight: 500;">{{ passage["pass_date"]|datefilter('%d.%m.%Y') }}</span>
                                            <span style="font-size: calc((1vh + 1vw) * 0.5);">ВРЕМЯ</span>
                                            <span style="font-size: calc((1vh + 1vw) * 0.7);font-weight: 500;">{{ passage["pass_date"]|datefilter('%H:%M') }}</span>
                                        </div>
                                    </div>
                            	{% endfor %}

                            {% endif %}


                        </div>
                    </div>
                </div>
                <div class="col shadow-lg rounded-3">
                    <div class="d-flex flex-column"><span style="text-align: center;color: #000000;font-size: calc((1vh + 1vw) * 0.7);font-weight: 600;">АВТОТРАНСПОРТ</span>
                        <div class="d-flex flex-column align-items-end p-1" style="height: 10vh;">
                            <div class="d-flex flex-column"><span style="font-weight: 600;color: #d4d4d4;">Статус</span>
                                <select class="form-select m-0 car-filter" onchange="filterCars()">
                                    <optgroup label="Выберите статус">
                                        <option value="3" selected>Все статусы</option>
                                        <option value="1">Въезд</option>
                                        <option value="2">Выезд</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="p-2 overflow-auto d-flex flex-column gap-2 " style="height: 85%;max-height: 70vh">

                            {% if c_passages %}
                            	{% for passage in c_passages %}
                                    <div class="rounded-3 d-flex align-items-center gap-1 car-filter-area justify-content-between ps-4 pe-4 pt-2 pb-2" style="background: #F2EAF9;">
                                        <div class="d-flex flex-column gap-3">
                                            <div class="d-flex flex-column">
                                                <span class="text-truncate" data-bs-toggle="tooltip" data-bss-tooltip="" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.8);max-width: 15vw;" title="{{ passage['car']['car_model'].upper() }}">{{ passage['car']['car_model'].upper() }}</span>
                                                <span style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.55);">{{ passage['car']['govern_num'].upper() }}</span>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <span style="font-size: calc((1vh + 1vw) * 0.7);">СТАТУС:</span>
                                                <span class="status" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.7);">{{ 'ВЪЕЗД' if passage['status'] else "ВЫЕЗД" }}</span>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column gap-3">
                                            <div class="d-flex flex-column">
                                                <span style="font-size: calc((1vh + 1vw) * 0.5);">ДАТА:</span>
                                                <span style="font-size: calc((1vh + 1vw) * 0.7);font-weight: 500;">{{ passage["pass_date"]|datefilter('%d.%m.%Y') }}</span>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <span style="font-size: calc((1vh + 1vw) * 0.5);">ВРЕМЯ</span>
                                                <span style="font-size: calc((1vh + 1vw) * 0.7);font-weight: 500;">{{ passage["pass_date"]|datefilter('%H:%M') }}</span>
                                            </div>
                                        </div>
                                    </div>
                            	{% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col shadow-lg rounded-3">
                    <div class="d-flex flex-column"
                    ><span style="text-align: center;color: #000000;font-size: calc((1vh + 1vw) * 0.7);font-weight: 600;">СПЕЦТРАНСПОРТ</span>
                        <div class="d-flex justify-content-between p-1" style="height: 10vh;">
                            <div class="d-flex flex-column"><span style="font-weight: 600;color: #d4d4d4;">Тип спецтраспорта</span>
                                <select class="form-select m-0 spec-filter-type" onchange="filterSpecCars()">
                                    <optgroup label="Выберите тип спецтранспорта">
                                        <option value="0" selected="">Все типы</option>
                                        <option value="ДРУГОЕ">Другое</option>
                                        <option value="СКОРАЯ ПОМОЩЬ">Скорая помощь</option>
                                        <option value="ПОЖАРНАЯ СЛУЖБА">Пожарная служба</option>
                                        <option value="ПОЛИЦИЯ">Полиция</option>
                                        <option value="ГАЗОВАЯ СЛУЖБА">Газовая служба</option>
                                    </optgroup>
                                </select></div>
                            <div class="d-flex flex-column"><span style="font-weight: 600;color: #d4d4d4;">Статус</span>
                                <select class="form-select m-0 spec-filter-status" onchange="filterSpecCars()">
                                    <optgroup label="Выберите статус">
                                        <option value="0" selected>Все статусы</option>
                                        <option value="ВЪЕЗД">Въезд</option>
                                        <option value="ВЫЕЗД">Выезд</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="p-2 overflow-auto d-flex flex-column gap-2" style="height: 85%;max-height: 70vh">

                            {% if s_passages %}
                                {% for passage in s_passages %}
                                    <div class="rounded-3 d-flex align-items-center gap-1 justify-content-between ps-4 pe-4 pt-2 pb-2 spec-filter-area" style="background: #FEEFD1;">
                                        <div class="d-flex flex-column gap-3">
                                            <div class="d-flex gap-2">
                                                <div class="d-flex flex-column">
                                                    <span class="text-truncate" data-bs-toggle="tooltip" data-bss-tooltip="" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.8);max-width: 10vw;" title="{{ passage['car']['car_model'].upper() }}">{{ passage['car']['car_model'].upper() }}</span>
                                                    <span style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.55);">{{ passage['car']['govern_num'].upper() }}</span>
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <span class="type" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.5);">{{ passage['car']['transport_type']['type'].upper() }}</span>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <span style="font-size: calc((1vh + 1vw) * 0.7);">СТАТУС:</span>
                                                <span class="status" style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.7);">{{ 'ВЪЕЗД' if passage['status'] else "ВЫЕЗД" }}</span>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column gap-3">
                                            <div class="d-flex flex-column">
                                                <span style="font-size: calc((1vh + 1vw) * 0.5);">ДАТА:</span>
                                                <span style="font-size: calc((1vh + 1vw) * 0.7);font-weight: 500;">{{ passage["pass_date"]|datefilter('%d.%m.%Y') }}</span>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <span style="font-size: calc((1vh + 1vw) * 0.5);">ВРЕМЯ</span>
                                                <span style="font-size: calc((1vh + 1vw) * 0.7);font-weight: 500;">{{ passage["pass_date"]|datefilter('%H:%M') }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block additional_scripts_end %}
    <script src="{{ url_for('static', filename='/js/bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/filterCars.js') }}"></script>
{% endblock %}