{% extends 'base.html' %}

{% block main %}
    <div class="flex-fill d-flex gap-2 pt-2 pb-2">
        {% include 'inc/_sidebar.html' %}
        <div class="flex-fill d-flex flex-column gap-2" style="border-radius: .5em;font-size: calc((1vw + 1vh) * 0.7);">
                <div class="d-flex flex-column p-2 align-items-center justify-content-center border border-2" style="height: 5%;border-radius: .5em;">
                    <div class="form-switch chip d-flex justify-content-center">
                        <div class="centrize">
                            {% if mode == 'approval' %}
                                    <input onclick="switchCheck()" class="m-1 form-check-input" type="checkbox" role="switch" id="switch_check" name="switch_check" checked>
                                    <label for="switch_check" style="font-weight: bold;">Переключить на рассмотрение</label>
                            {% elif mode == 'consider'  %}
                                    <input onclick="switchCheck()" class="m-1 form-check-input" type="checkbox" role="switch" id="switch_check" name="switch_check">
                                    <label for="switch_check" style="font-weight: bold;">Переключить на согласование</label>
                            {% endif %}
                        </div>
                    </div>
                </div>

            <div class="border border-2 p-2 overflow-auto d-flex flex-column" style="height: 95%;max-height: 100vh;border-radius: .5em;">
            {% if mode == 'consider' %}
                <div><span style="font-weight: bold;font-size: calc((1vw + 1vh) * 0.9);background: #ffffff;color: #E3BCF1;">Рассмотрение</span></div>
            {% elif mode == 'approval' %}
                <div><span style="font-weight: bold;font-size: calc((1vw + 1vh) * 0.9);background: #ffffff;color: #98B3F9;">Согласование</span></div>
            {% endif %}
            {% if requests %}
                {% for card in requests %}
                    {% with lastname=card['creatorobj']['lastname'],
                            name=card['creatorobj']['name'],
                            patronymic=card['creatorobj']['patronymic'],
                            number=card['id'],
                            date_created=card['date_created'],
                            selected=card['id'] == request_id
                            %}
                    	{% include 'inc/_request_list_card.html' %}
                    {% endwith %}
                {% endfor %}

            {% else %}
                <p class="align-self-center m-auto">СПИСОК ЗАЯВОК ПУСТ</p>
            {% endif %}
            </div>
        </div>

        <div class="flex-fill border border-2 me-2 d-flex flex-column gap-2" style="border-radius: .5em;width: 55%;">
        {% if content %}
            <div class="d-flex align-items-center justify-content-end pe-2" style="height: 5%;">
                <p class="m-0 p-0" style="font-size: 25px;font-weight: bold;color: rgb(212,212,212);">Заявка №{{ content['id'] }}</p>
            </div>
            <div class="flex-grow-1 d-flex gap-2" style="height: 20%;">
                <div class="flex-grow-1 p-2 d-flex flex-column gap-2" style="width: 50%;">
                    <div class="d-flex flex-column">
                        <p class="m-0 p-0" style="font-size: calc((1vh + 1vw) * 0.55);font-family: 'Golos Text', sans-serif;font-weight: bold;color: #d4d4d4;">ЗАЯВИТЕЛЬ</p><span class="border rounded border-0 shadow m-0 p-0 text-uppercase" style="text-align: center;">{{ content['creatorobj']['lastname'] }} {{ content['creatorobj']['name'][0] }}. {{ content['creatorobj']['patronymic'][0] + '.' if content['creatorobj']['patronymic'] else '' }}</span>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="m-0 p-0" style="font-size: calc((1vh + 1vw) * 0.55);font-family: 'Golos Text', sans-serif;font-weight: bold;color: #d4d4d4;">ТИП ЗАЯВКИ</p><span class="border rounded border-0 shadow m-0 p-0 text-uppercase" style="text-align: center;">{{ content['type']['name'] }}</span>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="m-0 p-0" style="font-size: calc((1vh + 1vw) * 0.55);font-family: 'Golos Text', sans-serif;font-weight: bold;color: #d4d4d4;">ДОГОВОР</p><span class="border rounded border-0 shadow m-0 p-0 text-uppercase" style="text-align: center;">{{ content['contract_name'] if content['contract_name'] else 'БЕЗ ДОГОВОРА' }}</span>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="m-0 p-0" style="font-size: calc((1vh + 1vw) * 0.55);font-family: 'Golos Text', sans-serif;font-weight: bold;color: #d4d4d4;">ОРГАНИЗАЦИЯ</p><span class="border rounded border-0 shadow m-0 p-0 text-uppercase" style="text-align: center;">{{ content['organization'] if content['organization'] else 'БЕЗ ОРГАНИЗАЦИИ' }}</span>
                    </div>
                </div>
                <div class="flex-grow-1 p-2 d-flex flex-column gap-2" style="width: 50%;">
                    <div class="d-flex flex-column">
                        <p class="m-0 p-0" style="font-size: calc((1vh + 1vw) * 0.55);font-family: 'Golos Text', sans-serif;font-weight: bold;color: #d4d4d4;">СРОК ДЕЙСТВИЯ ЗАВКИ</p><span class="border rounded border-0 shadow m-0 p-0  text-uppercase" style="text-align: center;">C {{ content['from_date']|datefilter('%d.%m.%Y') }} ПО {{ content['to_date']|datefilter('%d.%m.%Y') }}</span>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="m-0 p-0" style="font-size: calc((1vh + 1vw) * 0.55);font-family: 'Golos Text', sans-serif;font-weight: bold;color: #d4d4d4;">ВРЕМЯ ДЕЙСТВИЯ ЗАЯВКИ</p><span class="border rounded border-0 shadow m-0 p-0 text-uppercase" style="text-align: center;">С {{ content['from_time']|timefilter('%H:%M') }} ДО {{ content['to_time']|timefilter('%H:%M') }}</span>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="m-0 p-0" style="font-size: calc((1vh + 1vw) * 0.55);font-family: 'Golos Text', sans-serif;font-weight: bold;color: #d4d4d4;">ПРОПУСК ОСУЩЕСТВЛЯТЬ</p><span class="border rounded border-0 shadow m-0 p-0 text-uppercase" style="text-align: center;">{{ content['passmode']['name'] }}</span>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="m-0 p-0" style="font-size: calc((1vh + 1vw) * 0.55);font-family: 'Golos Text', sans-serif;font-weight: bold;color: #d4d4d4;">ДАТА И ВРЕМЯ СОЗДАНИЯ ЗАЯВКИ</p><span class="border rounded border-0 shadow m-0 p-0 text-uppercase" style="text-align: center;">{{ content['date_created']|datefilter('%H:%M %d.%m.%Y') }}</span>
                    </div>
                </div>
            </div>
            <div class="flex-grow-1 d-flex p-2 gap-2" style="height: 20%;">
                <div class="border-0 shadow flex-grow-1 rounded-3 d-flex flex-column" style="width: 50%;"><span class="fw-semibold" style="text-align: center;color: #D4D4D4;font-size: calc((1vh + 1vw) * 0.55);">ПОСЕТИТЕЛИ</span>
                    <div class="p-2 overflow-auto d-flex flex-column gap-2" style="height: 95%;max-height: 90vh;">
                    {% if content['visitors'] %}
                        {% for visitor in content['visitors'] %}
                            {% with lastname=visitor['lastname'],
                                    name=visitor['name'],
                                    patronymic=visitor['patronymic']
                                    %}
                                {% include 'inc/_visitor_request_element.html' %}
                            {% endwith %}
                        {% endfor %}
                    {% else %}
                        <p>ПОСЕТИТЕЛИ НЕ ПРИКРЕПЛЕНЫ</p>
                    {% endif %}

                    </div>
                </div>
                <div class="border rounded border-0 shadow flex-grow-1 rounded-3 d-flex flex-column p-2" style="width: 50%;"><span class="fw-semibold" style="text-align: left;color: #D4D4D4;font-size: calc((1vh + 1vw) * 0.55);">КОММЕНТАРИЙ ЗАЯВИТЕЛЯ</span>
                    <div class="flex-fill d-flex overflow-auto" style="max-height: 90vh;">
                        <p class="flex-fill p-0 m-0">{{ content['comment'] }}</p>
                    </div>
                </div>
            </div>
            <div class="flex-grow-1 d-flex gap-2 p-2" style="height: 28%;">
                <div class="flex-grow-1 d-flex flex-column" style="width: 50%;">
                    <div class="border-0 shadow d-flex flex-column flex-fill rounded-3" style="height: 70%;"><span class="fw-semibold" style="text-align: center;color: #D4D4D4;font-size: calc((1vh + 1vw) * 0.55);">АВТОМОБИЛИ</span>
                        <div class="p-2 overflow-auto d-flex flex-column gap-2">
                        {% if content['cars'] %}
                            {% for car in content['cars'] %}
                            	{% with carmodel=car['car_model'], govern_number=car['govern_num'], visitor=car['visitor_'] %}
                                    {% include 'inc/_car_request_element.html' %}
                            	{% endwith %}
                            {% endfor %}
                        {% else %}
                            <p>АВТОТРАНСПОРТ НЕ ПРИКРЕПЛЕН</p>
                        {% endif %}
                        </div>
                    </div>
                    <div class="d-flex p-3 align-items-center gap-2 flex-fill" style="height: 5%;">
                        <div class="d-flex align-items-center justify-content-center border rounded-3" style="width: 2.5rem;height: 2.5rem;background: #678aff;" data-bs-target="#file-modal" data-bs-toggle="modal"><svg class="bi bi-file-earmark" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 1.5rem;color: var(--bs-body-bg);">
                                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"></path>
                            </svg></div><span style="font-weight: bold;font-size: calc((1vh + 1vw) * 0.55);" data-bs-toggle="modal" data-bs-target="#file-modal">ОТКРЫТЬ ПРИЛОЖЕННЫЕ ФАЙЛЫ</span>
                    </div>
                </div>
                <div class="flex-grow-1 rounded-3 d-flex flex-column" style="width: 50%;">
                    <form class="flex-fill d-flex" method="post">
                        {{ form.csrf_token }}
                        <div class="d-flex flex-column flex-fill">
                            {{ form.request_id }}
                            <div class="border-0 shadow flex-fill d-flex flex-column p-2 rounded-3" style="height: 70%;"><span class="fw-semibold" style="text-align: left;color: #D4D4D4;font-size: calc((1vh + 1vw) * 0.55);">НАПИСАТЬ КОММЕНТАРИЙ</span>
                                <div class="flex-fill d-flex overflow-auto" style="max-height: 90vh;">
                                    {{ form.comment(class="form-control flex-fill p-2 m-0", style="resize: none;") }}
                                </div>
                            </div>
                            <div class="flex-fill d-flex align-items-center flex-wrap gap-3">
                                {% if not is_admin and mode == 'consider' %}
                                    {{ form.approve(class="btn flex-fill border-0 btn-primary", style="background: #fbf894;color: rgb(0,0,0);font-weight: bold;") }}
                                {% endif %}
                                {% if not is_admin and mode == 'approval' %}
                                    {{ form.approve(class="btn flex-fill border-0 btn-primary", style="background: #fbf894;color: rgb(0,0,0);font-weight: bold;") }}
                                {% else %}
                                    {{ form.allow(class="btn flex-fill border-0 btn-primary", style="background: #94fbb1;color: rgb(0,0,0);font-weight: bold;") }}
                                {% endif %}
                                {{ form.deny(class="btn flex-fill border-0 btn-primary", style="background: #f69595;color: rgb(0,0,0);font-weight: bold;") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="align-self-center m-auto">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class=flashes>
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible align-self-center m-auto fs-3 text-center" role="alert"><span>{{ message }}</span></div>
                {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
                <p class="text-center">В ДАННОМ РАЗДЕЛЕ НЕТ ДАННЫХ</p>
            </div>
        {% endif %}
        </div>
    </div>

    <div class="modal fade modal-xl" role="dialog" tabindex="-1" id="file-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="font-size: 18px;font-weight: bold;color: #d4d4d4;">ПРОСМОТР ФАЙЛОВ</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="carousel slide" data-bs-ride="false" id="carousel-1">
                        <div class="carousel-inner">
                            <div class="carousel-item active"><img class="w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image"></div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                        <div class="carousel-indicators"><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="3"></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_scripts_end %}
	<script src="{{ url_for('static', filename='/js/set_switch_trigger.js') }}"></script>
{% endblock %}
