{% extends 'base.html' %}

{% block additional_scripts_head %}
    <script src="{{ url_for('static', filename='/jquery/jquery.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.0.1/mammoth.browser.min.js"></script>
{% endblock %}

{% block main %}
	<div class="flex-fill d-flex gap-2 pt-2 pb-2 pe-2">
    {% if user['role']['name'] != 'Заявитель' %}
    {% include 'inc/_sidebar.html' %}
    {% endif %}
        <form class="flex-fill d-flex" method="post" onsubmit="validateForm()" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="d-flex flex-fill flex-column p-2 border border-2 rounded-3">

                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    <div class=flashes>
                    {% for category, message in messages %}
                        <div class="alert {{ category }} alert-dismissible" role="alert"><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button><span>{{ message }}</span></div>
                    {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}
                <div class="d-flex" style="height: 10%;">
                    <div class="flex-fill d-flex align-items-center gap-4">
                        <a class="btn btn-primary main-color p-2" href="/requests/">ВЕРНУТЬСЯ К СПИСКУ ЗАЯВОК</a>
{#                        <p class="p-0 m-0" style="font-size: .75rem;"><strong>ЗАПОЛНИТЬ СПИСКИ ПОСЕТИТЕЛЕЙ И АВТОТРАНСПОРТА </strong><br /><strong>ИЗ ШАБЛОНА MICROSOFT WORD</strong></p>#}
                        <label class="input-file d-flex align-content-center gap-2" for="docxFileInput">
                            <div class="d-flex align-items-center justify-content-center border-0 rounded-2" style="width: 3em;height: 3em;background: #678aff;">
                                <svg class="bi bi-file-earmark m-0 p-0" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="color: rgb(255,255,255);width: 1.5em;height: 1.5em;">
                                    <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"></path>
                                </svg>
                            </div>
                            <input class="rounded-4 regular-btn" multiple type="file" accept=".doc, .docx" id="docxFileInput">
                             <p class="p-0 m-0 align-content-center" style="font-size: .75rem;"><strong>ЗАПОЛНИТЬ СПИСКИ ПОСЕТИТЕЛЕЙ И АВТОТРАНСПОРТА </strong><br/><strong>ИЗ ШАБЛОНА MICROSOFT WORD</strong></p>
                        </label>
                    </div>
                    <div class="flex-fill d-flex align-items-center justify-content-end gap-2">
                        <p class="p-0 m-0" style="font-size: 2rem;"><strong>ЗАЯВКА №{{ id }}</strong></p>
                    </div>
                </div>
                <div class="d-flex gap-4" style="height: 90%;">
                    <div class="col d-flex flex-column gap-3">
                        <div class="flex-fill d-flex flex-column gap-2" style="height: 50%;">
                            <div class="d-flex add-visitor-subform" style="height: 10%;"><button class="btn btn-primary fw-semibold border-0 flex-fill" type="button" style="background: #678aff;">+ ДОБАВИТЬ ПОСЕТИТЕЛЯ</button></div>
                            <div id="visitors_list_container" class="d-flex flex-column gap-2 p-2 overflow-auto shadow rounded-3" style="height: 90%;max-height: 35vh;">
                                {% for v in form.visitors_list.entries %}
                                    {% with v_id=v.form.v_id(class="visually-hidden"), lastname=v.form.lastname(class="form-control lnp-input", required="true", placeholder="ФАМИЛИЯ", style="font-weight: 600;"), name=v.form.name(class="form-control lnp-input", required="true", placeholder="ИМЯ", style="font-weight: 600;"), patronymic=v.form.patronymic(class="form-control lnp-input", placeholder="ОТЧЕСТВО", style="font-weight: 600;") %}
                                        {% include 'inc/_visitor_element.html' %}
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="flex-fill d-flex flex-column gap-2" style="height: 50%;">
                            <div class="d-flex add-car-subform" style="height: 10%;"><button class="btn btn-primary fw-semibold border-0 flex-fill" type="button" style="background: #678aff;">+ ДОБАВИТЬ АВТОМОБИЛЬ</button></div>
                            <div id="cars_list_container" class="overflow-auto d-flex flex-column gap2 p-2 shadow rounded-3" style="height: 90%;max-height: 35vh;">
                             {% for c in form.cars_list.entries %}
                                    {% with c_id=c.c_id(class="visually-hidden"), carmodel=c.car_model(class="form-control fs-5 regular-input"), govern_num=c.govern_num(class="form-control fs-5 regular-input govern_num"), visitor=c.visitor(class="form-select driver-selector visually-hidden") %}
                                        {% include 'inc/_car_element.html' %}
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex flex-column gap-2">
                        <div class="d-flex flex-fill gap-2" style="height: 10%;">
                            <div class="col">
                                <div>
                                    <span class="fw-semibold" style="font-size: calc((1vh + 1vw) * 0.6);color: #d4d4d4;">ОРГАНИЗАЦИЯ</span>
                                    {{ form.organization(class_="border-2 form-control") }}
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <span class="fw-semibold" style="font-size: calc((1vh + 1vw) * 0.6);color: #d4d4d4;">ДОГОВОР</span>
                                    {{ form.contract(class_="border-2 form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-fill gap-2" style="height: 40%;">
                            <div class="col d-flex flex-column">
                                <div class="flex-fill"><span class="fw-semibold" style="font-size: calc((1vh + 1vw) * 0.6);color: #d4d4d4;">ТИП ЗАЯВКИ</span>
                                    <div class="d-flex">
                                        {% for field in form.type %}
                                            {% if loop.first %}
                                                <div class="flex-fill d-flex align-items-center justify-content-center">
                                                    {{ field(class_="btn-check", checked="") }}
                                                    {{ field.label(class_="btn flex-fill", style="font-size: calc((1vw + 1vh) * 0.7);font-weight: 500;") }}
                                                </div>
                                            {% else %}
                                                <div class="flex-fill d-flex align-items-center justify-content-center">
                                                    {{ field(class_="btn-check") }}
                                                    {{ field.label(class_="btn flex-fill", style="font-size: calc((1vw + 1vh) * 0.7);font-weight: 500;") }}
                                                </div>
                                            {% endif %}

                                        {% endfor %}

                                    </div>
                                </div>
                                <div class="flex-fill">
                                    <span class="fw-semibold" style="font-size: calc((1vh + 1vw) * 0.6);color: #d4d4d4;">ВРЕМЕННОЙ ИНТЕРВАЛ</span>
                                    {{ form.time_interval(class_="border-2 form-select") }}
                                </div>
                                <div class="flex-fill"><span class="fw-semibold" style="font-size: calc((1vh + 1vw) * 0.6);color: #d4d4d4;">ПРОПУСК ОСУЩЕСТВЛЯТЬ</span>
                                    {{ form.passage_mode(class_="border-2 form-select") }}
                                </div>
                            </div>
                            <div class="col d-flex flex-column">
                                <span class="fw-semibold" style="font-size: calc((1vh + 1vw) * 0.6);color: #d4d4d4;">КОММЕНТАРИЙ</span>
                                {{ form.comment(class_="border-2 form-control flex-fill overflow-auto", style="resize: none;") }}
                            </div>
                        </div>
                        <div class="d-flex flex-fill gap-2" style="height: 10%;">
                            <div class="col">
                                <span class="fw-semibold" style="font-size: calc((1vh + 1vw) * 0.6);color: #d4d4d4;">С ДАТЫ</span>
                                {{ form.from_date(class_="border-2 form-control") }}
                            </div>
                            <div class="col">
                                <span class="fw-semibold" style="font-size: calc((1vh + 1vw) * 0.6);color: #d4d4d4;">ПО ДАТУ</span>
                                {{ form.to_date(class_="border-2 form-control") }}
                            </div>
                        </div>
                        <div class="d-flex flex-fill gap-2" style="height: 40%;">
                            <div class="col d-flex flex-column align-content-between">

                            <div class="shadow flex-fill d-flex flex-column p-2 rounded-3 gap-2">
                                <div id="files-block" class="flex-fill flex-column overflow-auto p-2" style="max-height: 25vh;height: 25vh;">

                                </div>
                                <div class="d-flex justify-content-center p-2 rounded-2" style="color:white;font-size:calc((1vh + 1vw) * 0.8);font-weight:500;background:#678aff;">
                                    <label class="input-file d-flex align-content-center text-center">
                                        {{ form.add_files_btn(class_="border-2", accept=".pdf") }}
                                         <span class="input-file-btn">ПЕРЕЗАПИСАТЬ ФАЙЛЫ</span>
                                    </label>
                                </div>
                            </div>
                            </div>
                            <div class="col d-flex align-items-end justify-content-end">
                                {{ form.create_btn(class_="btn border-0 btn-primary flex-fill", style="font-size: calc((1vh + 1vw) * 1.25);font-weight: 500;background: #678aff;", value="СОХРАНИТЬ ИЗМЕНЕНИЯ", disabled=blocked) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block additional_scripts_end %}
	<script src="{{ url_for('static', filename='js/add-visitor-subform.js') }}"></script>
	<script>
        $(document).ready(function() {
        $('.add-car-subform').click(function() {
            const message = document.getElementById("car-message");
            if (message){
                message.remove();
            }
            let allCarsFieldWrapper = document.getElementById('cars_list_container');
            let allCars = allCarsFieldWrapper.getElementsByTagName('input');
            let carsInputIds = []
            for(let i = 0; i < allCars.length; i++) {
                carsInputIds.push(parseInt(allCars[i].name.split('-')[1]));
            }
            let newname = `${allCars.length / 3}`;
            if (allCars.length > 0){
                let visitorsInputIds = []
                for (let j = 0; j < allCars.length; j++) {
                    visitorsInputIds.push(parseInt(allCars[j].id.split('-')[1]))
                }
                newname = Math.max(...visitorsInputIds.filter((number) => !isNaN(number))) + 1;
            }

            let html = `<div class="car-subform border-2 shadow d-flex p-3 gap-2 rounded-3"><input required id="cars_list-${newname}-govern_num" name="cars_list-${newname}-govern_num" class="form-control" type="text" placeholder="ГОС. НОМЕР" style="font-weight: 600;" /><input class="form-control" id="cars_list-${newname}-carm_odel" required name="cars_list-${newname}-car_model" type="text" placeholder="МОДЕЛЬ" style="font-weight: 600;" /><select class="form-select visually-hidden driver-selector" id="cars_list-${newname}-visitor" name="cars_list-${newname}-visitor"></select><button class="remove-car-subform btn btn-primary border-0" type="button" style="background: #FF9A9A;font-size: calc((1vw + 1vh) * 0.6);">УДАЛИТЬ</button></div>`;
            $('#cars_list_container').append(html);
            // createSelect();
            updateOptionsList();

        });


        $('#cars_list_container').on('click', '.remove-car-subform', function() {
            $(this).closest('.car-subform').remove();
            // createSelect();
            updateOptionsList()
        });
    });
    </script>
	<script type="module" src="{{ url_for('static', filename='js/docxTableTemplateHandler.js') }}"></script>

    <script>
        function validateForm() {
            try {
              let allVisitorsFieldWrapper = document.getElementById('visitors_list_container');
              let allVisitors = allVisitorsFieldWrapper.getElementsByTagName('input');
              let allCarsFieldWrapper = document.getElementById('cars_list_container');
              let allCars = allCarsFieldWrapper.getElementsByTagName('input');

              let from_date = new Date(document.querySelector('#fromdate').value);
              const to_date =  new Date(document.querySelector('#todate').value);

              if (from_date > to_date) {
                $('#dateValidationErrorModal').modal('show');
                return false;
              }

              if (allVisitors.length === 0 && allCars.length === 0) {
                $('#validationErrorModal').modal('show');
                return false;
              }
            } catch (e) {
                console.log(e);
                return false
            }
        }
    </script>
    <script>
        const fileInput = document.getElementById("add_files_btn");

        fileInput.addEventListener("change", (event) => {
          const files = event.target.files;
          let files_block = $('#files-block').empty();
          for (let i = 0; i < files.length; i++) {
              //let html = `<div class="file-item container-fluid mh-90 p-2 mt-2 mb-2 rounded-4 text-label"><div class="row"><div class="col d-flex align-content-center"><div class="text-truncate w-100 text-center fs-4">${files[i].name}</div></div></div></div>`;
              //let html = `<div class="shadow m-1 rounded-2" style="height: 5vh;"></div>`;
              let html = `<div class="shadow m-1 rounded-2 d-flex align-items-center p-1 d-flex" style="height: 5vh;"><span class="flex-fill text-start">${files[i].name}</span></div>`;
              files_block.append(html);
          }
        });
    </script>

{% endblock %}