{% extends 'base.html' %}

{% block additional_scripts_head %}
    <script>
      $('.dropdown-menu a').click(function(){
        $('#selected').text($(this).text());
      });
    </script>

        <script>
        function getCookieValue(name)
        {
          const regex = new RegExp(`(^| )${name}=([^;]+)`)
          const match = document.cookie.match(regex)
          if (match) {
            return match[2]
          }
        }
        document.addEventListener("DOMContentLoaded", function () {
            const urlParams = new URL(location).searchParams;
            const show_status = urlParams.get('show');
            if (show_status) {
                $('#profileModal').modal('show');
            }
        })
    </script>
{% endblock %}

{% block main %}

	<div class="d-flex flex-fill pb-2 pt-2 pe-2 gap-2">
        {% include 'inc/_sidebar.html' %}
        <div class="d-flex flex-fill flex-column gap-2" style="width: 80%;">
            <div class="d-flex flex-fill" style="height: 7%;">
                <input type="text" class="flex-fill border border-2 rounded-3 ps-2" placeholder="ВВЕДИТЕ ПОИСКОВОЕ ЗНАЧЕНИЕ" id="search" style="font-weight: 600;">
            </div>
            <div class="d-flex flex-fill justify-content-center flex-wrap overflow-auto gap-3 pt-4" style="height: 80%;">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <div class=flashes>
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible" role="alert"><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button><span>{{ message }}</span></div>
                    {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}

            {% for user in users %}
            	{% with lastname=user["lastname"],
                        name=user["name"],
                        patronymic=user["patronymic"],
                        role=user["role"], speciality=user["speciality"], _id=user["id"]  %}
                    {% include 'inc/_user_card.html' %}
            	{% endwith %}
            {% endfor %}


            </div>
            <div class="d-flex flex-fill justify-content-center align-items-center" style="height: 10%;">
                <button class="btn" type="button" style="background: #678aff;color: rgb(255,255,255);font-weight: 500;width: 40%;font-size: calc((1vh + 1vw) * 0.9);" data-bs-target="#createProfileModal" data-bs-toggle="modal">СОЗДАНИЕ УЧЕТНОЙ ЗАПИСИ</button>
            </div>
        </div>
    </div>
    <div class="modal fade modal-xl" role="dialog" tabindex="-1" id="createProfileModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-0 l">
                    <h4 class="modal-title" style="font-size: calc((1vh + 1vw) * 0.7);font-weight: 500;color: #d4d4d4;">СОЗДАНИЕ УЧЕТНОЙ ЗАПИСИ</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body border-0 d-flex">
                    <form class="d-flex flex-fill" method="post" action="/users/">
                        {{ form.csrf_token }}
                        <div class="d-flex flex-column flex-fill gap-2">
                            <div class="d-flex flex-fill gap-2">
                                <div class="col d-flex flex-column gap-2">
                                    <div class="d-flex flex-fill gap-2">
                                        <div class="col">
                                            <label class="text-uppercase fw-semibold form-label">Фамилия</label>
                                            {{ form.lastname(class_="form-control form-control rounded-3") }}
                                        </div>
                                        <div class="col">
                                            <label class="text-uppercase fw-semibold form-label">Имя</label>
                                            {{ form.name(class_="form-control form-control rounded-3") }}
                                        </div>
                                        <div class="col">
                                            <label class="text-uppercase fw-semibold form-label">Отчество</label>
                                            {{ form.patronymic(class_="form-control form-control rounded-3") }}
                                        </div>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <div class="col"><label class="form-label text-uppercase fw-semibold">Должность</label>
                                            {{ form.speciality(class_="form-control form-control rounded-3") }}
                                        </div>
                                        <div class="col-4"><label class="form-label text-uppercase fw-semibold">уровень доступа</label>
                                            {{ form.role(class_="form-select") }}
                                        </div>
                                    </div>
                                    <div class="d-flex flex-fill gap-2">
                                        <div class="col"><label class="text-uppercase fw-semibold form-label">Логин</label>
                                            {{ form.login(class_="form-control rounded-3") }}
                                        </div>
                                        <div class="col">
                                            <label class="text-uppercase fw-semibold form-label">пароль</label>
                                            {{ form.password(class_="form-control rounded-3") }}
                                        </div>
                                        <div class="d-flex flex-fill justify-content-end align-items-end">
                                            <div class="col d-flex">
                                                {{ form.create_btn(class_="btn border-0 btn-primary flex-fill", style="background: #94fbb1;color: rgb(0,0,0);font-weight: 500;") }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% if form_update %}
    <div class="modal fade modal-xl" role="dialog" tabindex="-1" id="profileModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-0 l">
                    <h4 class="modal-title" style="font-size: calc((1vh + 1vw) * 0.7);font-weight: 500;color: #d4d4d4;">ПРОФИЛЬ</h4>
                    <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body border-0 d-flex">
                    <form class="d-flex flex-fill" method="post" action="/users/update/{{ form_update.id_ }}">
                        {{ form_update.csrf_token }}
                        <div class="d-flex flex-column flex-fill gap-2">
                            <div class="d-flex flex-fill gap-2">
                                <div class="col d-flex flex-column gap-2">
                                    <div class="flex-fill d-flex gap-2">
                                        <div class="col">
                                            {{ form_update.lastname.label(class="form-label text-uppercase fw-semibold") }}
                                            {{ form_update.lastname(class="form-control rounded-3") }}
                                        </div>
                                        <div class="col">
                                            {{ form_update.name.label(class="form-label text-uppercase fw-semibold") }}
                                            {{ form_update.name(class="form-control rounded-3") }}
                                        </div>
                                    </div>
                                    <div>
                                            {{ form_update.speciality.label(class="form-label text-uppercase fw-semibold") }}
                                            {{ form_update.speciality(class="form-control rounded-3") }}
                                    </div>
                                    <div class="flex-fill d-flex gap-2">
                                        <div class="col">
                                            {{ form_update.login.label(class="form-label text-uppercase fw-semibold") }}
                                            {{ form_update.login(class="form-control rounded-3") }}
                                        </div>
                                        <div class="col align-items-center justify-content-center d-flex">
                                            <div>
                                                <div class="form-check">
                                                    {{ form_update.selector(class="form-check-input", onclick="unlockPassword()") }}
                                                    {{ form_update.selector.label(class="form-check-label") }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 d-flex flex-column gap-2">
                                    <div>
                                        <div class="col">
                                             {{ form_update.patronymic.label(class="form-label text-uppercase fw-semibold") }}
                                             {{ form_update.patronymic(class="form-control rounded-3") }}
                                        </div>
                                    </div>
                                    <div>
                                        {{ form_update.role.label(class="form-label text-uppercase fw-semibold") }}
                                        {{ form_update.role(class="form-select") }}
                                    </div>
                                    <div>
                                        <div class="col">
                                            {{ form_update.password.label(class="form-label text-uppercase fw-semibold") }}
                                            {{ form_update.password(class="form-control rounded-3 password", disabled="true") }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center gap-3 mt-5">
                                {{ form_update.edit_btn(class="btn border-0 btn-primary", style="background: #94fbb1;color: rgb(0,0,0);font-weight: 500;") }}
                                {{ form_update.delete_btn(class="btn border-0 btn-primary", style="font-weight: 500;color: rgb(0,0,0);background: #f69595;") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}


{% endblock %}

{% block additional_scripts_end %}
    <script>
        const $search = document.getElementById('search');

        $search.addEventListener('input', (event) => {

          const searchText = event.target.value;

          const cards = document.querySelectorAll(".user-card");

            for (let i = 0; i < cards.length; i++) {
                const lnp = cards[i].querySelector(".lnp");
                const spec = cards[i].querySelector(".spec");

                if (!lnp.textContent.toUpperCase().includes(searchText.toUpperCase()) && !spec.textContent.toUpperCase().includes(searchText.toUpperCase())){
                    cards[i].classList.add("visually-hidden")
                } else {
                    cards[i].classList.remove("visually-hidden")
                }

            }

        });
    </script>
    <script>
    function unlockPassword() {
        let selector = document.getElementById("selector");
        let password = document.querySelector(".password");
        password.disabled = !selector.checked
        console.log(password);
    }
    </script>
{% endblock %}
