
:root {
    --superuser-color: #E3BCF1;
    --admin-color: #BCCEF1;
    --limadmin-color: #BCF1E1;
    --requester-color: #F0F1BC;
    --security-color: #F1C9BC;
    --error-color: #E25D5D;
    --main-color: #678aff;
}


.superuser-color {
    background: var(--superuser-color);
}


.admin-color {
    background: var(--admin-color);
}

.limadmin-color {
    background: var(--limadmin-color);
}

.requester-color {
    background: var(--requester-color);
}

.security-color {
    background: var(--security-color);
}

.error-color {
    background: var(--error-color);
}

.main-color {
    background: var(--main-color);
}

.anime {
    animation: slideInOut .65s ease-in;
}

.error-border {
    border: .2em solid var(--error-color);
    border-radius: .3em;
}

@keyframes slideInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.chip .form-check-input {
    /* --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%152, 179, 249, 1.0%29'/%3e%3c/svg%3e"); */
    /*height: 2em;*/
    /*width: 3.65em;*/
    background-color: #E3BCF1;
    /*border: solid black 0.2em;*/
    transition: background-position 0.45s cubic-bezier(.72,.16,.24,.62),
                background-color 0.45s cubic-bezier(.72,.16,.24,.62);

}

.chip .form-check-input:checked {
    background-color: #BCCEF1;
    /*transition: background-position 0.45s cubic-bezier(.72,.16,.24,.62),*/
    /*background-color 0.45s cubic-bezier(.72,.16,.24,.62);*/
    transition: background-position 0.45s cubic-bezier(.72,.16,.24,.62),
                background-color 0.45s cubic-bezier(.72,.16,.24,.62);
    /* transition: all 0.55s cubic-bezier(.72,.16,.24,.62); */
}

.form-switch {
  padding-left: 2.5em;
}
.form-switch .form-check-input {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  width: 3em;
    height: 1.5em;
  margin-left: -2.5em;
  background-image: var(--bs-form-switch-bg);
  background-position: left center;
  /*border-radius: 2em;*/
    transition: background-position 0.45s cubic-bezier(.72,.16,.24,.62),
                background-color 0.45s cubic-bezier(.72,.16,.24,.62);
}

.form-switch .form-check-input:focus {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
    border: none;
}
.form-switch .form-check-input:checked {
  background-position: right center;
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  border: none;
}
.form-switch.form-check-reverse {
  padding-right: 2.5em;
  padding-left: 0;
}
.form-switch.form-check-reverse .form-check-input {
  margin-right: -2.5em;
  margin-left: 0;
}


/*html, * {*/
/*    cursor: none;*/
/*    !* just change the cursor.ico path to your location *!*/
/*}*/



.cursor-pointer {
    cursor: pointer;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.consider {

    box-shadow: 2px 4px 12px rgba(33,37,41,0.25);
    transition: box-shadow 0.55s cubic-bezier(.72,.16,.24,.62),
            filter 0.55s cubic-bezier(.72,.16,.24,.62),
            background-color 0.55s cubic-bezier(.72,.16,.24,.62),
            transform 0.55s cubic-bezier(.72,.16,.24,.62);

}

.selected-consider {
    background-color: #f9d6ff;
    box-shadow: inset -0.5em 0em #E698F9, 2px 4px 12px rgba(33,37,41,0.25);
}


.consider:hover {
    background-color: #f9d6ff;
    transition: box-shadow 0.55s cubic-bezier(.72,.16,.24,.62),
            filter 0.55s cubic-bezier(.72,.16,.24,.62),
            background-color 0.55s cubic-bezier(.72,.16,.24,.62),
            transform 0.55s cubic-bezier(.72,.16,.24,.62);
}

.approval {
    /*box-shadow: inset -0.7em 0em #dbe4fb;*/
    box-shadow: 2px 4px 12px rgba(33,37,41,0.25);
    transition: box-shadow 0.55s cubic-bezier(.72,.16,.24,.62),
            filter 0.55s cubic-bezier(.72,.16,.24,.62),
            background-color 0.55s cubic-bezier(.72,.16,.24,.62),
            transform 0.55s cubic-bezier(.72,.16,.24,.62);

}


.approval:hover{
    background-color: #d7e1fd;
    transition: box-shadow 0.55s cubic-bezier(.72,.16,.24,.62),
            filter 0.55s cubic-bezier(.72,.16,.24,.62),
            background-color 0.55s cubic-bezier(.72,.16,.24,.62),
            transform 0.55s cubic-bezier(.72,.16,.24,.62);

}

.selected-approval {
    background-color: #d7e1fd;
    box-shadow: inset -0.5em 0em #98B3F9, 2px 4px 12px rgba(33,37,41,0.25);
}


.border-main-color {

    border-color:var(--main-color)!important
}

li {
    cursor: pointer;
}


mark {
    padding: 0.1em;
    background: transparent;
    background: linear-gradient(to right, #fdff8f 50%, transparent 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    transition: all .5s ease;
    color: #000000;
    border: 2px #727272 solid;
    border-radius: 5px;
    font-size: 1.3em;
    align-items: center;
  }

mark.animate {
    background-position: left bottom;
    color: #f35d5d;
}

.elem-highlight {
    padding: 0.1em;
    background:  #fdff8f;
    transition: all .5s ease;
    color: #f35d5d;
    border: 2px #727272 solid;
    border-radius: 5px;
    font-size: 1em;
    align-items: center;
}
